.container {
    height: 50vh;
}

.container h2 {
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
}

.brand {
    font-size: 1.2em;
    text-decoration: none;
    color: #032030;
    font-weight: 900;
    text-transform: uppercase;
}

.container p {
    padding: 30px;
    margin-bottom: -60px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .container {
        width: 400px;
        text-align: center;
    }
}
