.container_login {
    margin: auto 150px;
    height: 70vh;
    width: 600px;
    margin: 0 auto;
    box-shadow: 5px 8px 19px -9px rgba(0, 0, 0, 0.1), -8px -3px 35px -5px rgba(0, 0, 0, 0.1);
}

.container_login h1 {
    text-align: center;
    margin-top: 25px;
    padding-top: 20px;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-size: 1.2em;
}

label {
    display: grid;
    grid-template-columns: 70px 300px;
    align-items: center;
    margin-bottom: 30px;
}

.form_login span {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.form_login input {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 300px;
    border: none;
    padding: 10px;
    font-size: 0.7em;
    box-shadow: inset 15px 5px 4px -14px rgba(0, 0, 0, 0.1), 5px 1px 6px -9px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.471);
}

.form_login button {
    width: 100px;
    height: 40px;
    margin-top: 40px;
    font-size: 0.8em;
    background-color: #7dce94;
    color: #3d3d3f;
    border: none;
    box-shadow: 5px 8px 19px -9px rgba(0, 0, 0, 0.29), 8px 10px 5px -5px rgba(0, 0, 0, 0.1);
}

.form_login button:active {
    transform: translateY(2px);
    box-shadow: none;
}

@media screen and (max-width: 650px) {
    .container_login {
        width: 300px;
        margin: 0 auto;
        height: 70vh;
    }

    h1 {
        margin-bottom: 30px;
        font-size: 1.8em;
    }

    label {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .form_login span {
        display: flex;
        justify-content: flex-start;
        margin-left: 3px;
        margin-bottom: 5px;
    }

    .form_login input {
        width: 250px;
    }
}
