.container_login {
    margin: auto 25px;
    height: 50vh;
    box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.1), -5px -3px 12px -5px rgba(0, 0, 0, 0.1);
}

.container_login h1 {
    text-align: center;
    margin-top: 50px;
    padding-top: 25px;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding: 10px;
}

.form_login label {
    margin: 10px auto;
}

.form_login span {
    margin-right: 10px;
}
.form_login input {
    width: 300px;
    border: none;
    padding: 10px;
    font-size: 0.7em;
    box-shadow: inset 15px 5px 4px -14px rgba(0, 0, 0, 0.1), 5px 1px 6px -9px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.471);
}

.form_login button {
    width: 100px;
    height: 40px;
    margin-top: 25px;
    font-size: 0.8em;
    background-color: #7dce94;
    color: #3d3d3f;
    border: none;
    box-shadow: 5px 8px 19px -9px rgba(0, 0, 0, 0.29), 8px 10px 5px -5px rgba(0, 0, 0, 0.1);
}

.form_login button:active {
    transform: translateY(2px);
    box-shadow: none;
}

@media screen and (max-width: 480px) {
    .form_login input {
        width: 90%;
        margin: 5px 0;
    }

    .form_login label {
        width: 90%;
        margin: 0 auto;
        margin: 2px 0;
    }
}
