.container_dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    padding: 20px;
}

.container_dashboard h3 {
    margin-bottom: 40px;
}

.posts {
    display: grid;
    grid-template-rows: 200px 100px;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
}

.edit_btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    color: white;
}
.edit_btns button {
    border: none;
    padding: 5px;
    font-size: 0.9em;
    color: white;
}
.edit_btns a {
    border: none;
    padding: 5px;
    font-size: 0.9em;
    color: white;
}

.container_dashboard button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.container_dashboard button[disabled] {
    background-color: #b5b5b570;
    transform: none;
    color: rgba(93, 93, 93, 0.553);
    box-shadow: inset 15px 15px 4px -14px rgba(0, 0, 0, 0.1), 5px 1px 6px -9px rgba(0, 0, 0, 0.1);
}
