.container_dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    padding: 20px;
}

.container_dashboard h3 {
    margin-bottom: 40px;
}
.container_dashboard button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border: none;
    margin: 2px auto;
    background-color: #7dce94;
    color: #2e2e2f;
    font-size: 1em;
    box-shadow: 5px 8px 19px -9px rgba(0, 0, 0, 0.29), 8px 10px 5px -5px rgba(0, 0, 0, 0.1);
}

.container_dashboard button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.container_dashboard button[disabled] {
    background-color: #b5b5b570;
    transform: none;
    color: rgba(93, 93, 93, 0.553);
    box-shadow: inset 15px 15px 4px -14px rgba(0, 0, 0, 0.1), 5px 1px 6px -9px rgba(0, 0, 0, 0.1);
}
