.container {
    height: 100%;

    border-radius: 7px;
    margin: 4em 50px;
    padding-bottom: 100px;
    box-shadow: 5px 8px 19px -9px rgba(0, 0, 0, 0.1), -8px -3px 35px -5px rgba(0, 0, 0, 0.1);
}

.container > h1 {
    text-align: center;
    padding: 24px 20px;
}
