.container_dropdown {
    display: block;
    position: absolute;
    margin-top: -25px;
    padding: 0;
    width: 100%;
    top: 100px;
    right: 1px;
}

.dropdown_itens {
    height: 50px;
}

.dropdown_list {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dropdown_list div {
    height: 100%;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 720px) {
    .container_dropdown {
        display: none;
    }
}
