.navbar {
    display: flex;
    height: 60px;
    box-shadow: 1px -3px 3px 0 rgba(0, 0, 0, 0.185);
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    background-color: #7dce94;
}

.brand {
    font-size: 1.2em;
    text-decoration: none;
    color: #032030;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list li {
    margin-right: 1em;
}

.links_list li a {
    padding: 0.5em 0.7em;
    text-decoration: none;
}

.active {
    background-color: #3d3d3f;
    color: #e3e6e8;
    /* border-radius: 25px 20px; */
    border-radius: 15px 5px;
}

.inactive {
    color: black;
    font-size: 1em;
}

@media screen and (max-width: 480px) {
    .links_list li:nth-last-child(2n) {
        display: none;
    }

    .links_list li {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 10px;
    }
}

@media screen and (max-width: 649px) {
    .links_list li:nth-child(3n) {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    .links_list li:nth-child(4n) {
        display: none;
    }
}
