body {
  background-color: #f9f8fd;
  padding: 0;
  margin: 0;
  font-family: "Crimson Text", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Crimson Text", sans-serif;
  color: rgba(0, 0, 0, 0.422);
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  transition: 1s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Crimson Text", sans-serif;
}

.container .error {
  background-color: #ff72606b;
  color: rgb(184, 38, 38);
  font-size: 0.8em;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  width: auto;
  margin: -10px auto;
}
